@import "src/styles/variables";
@import "src/styles/mixins";

.container {
    display: flex;
    background-color: whitesmoke;
    font-size: 1.2rem;
    padding: rem(20);
    box-shadow: black rem(7) rem(7) rem(8);
    margin: rem(25) auto;
}

.side {
    margin: rem(5);
    min-width: 40%;
    text-align: center;
}

.image {
    width: 50%;
    margin: rem(15);
    box-shadow: black rem(5) rem(5) rem(3);
}

.category {
    text-align: left;
    padding-top: rem(10);
    text-decoration-line: underline;
}

.bookName {
    text-align: left;
    color: $black-75;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: rem(5);
}

.authors {
    text-align: left;
    padding: rem(7) 0;
    color: gray;
}

.description {
    color: black;
    line-height: 1.7rem;
    text-align: justify;
    padding: 1rem;
    background-color: rgba($black-25, .05);
    border-radius: 1rem;
}

.buttonsPanel {
    display: flex;
    justify-content: space-around;
    margin: rem(15) auto;
    width: rem(200);
    font-weight: bold;
}
