@import "src/styles/variables";
@import "src/styles/mixins";


.container {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    font-size: 1.2rem;
    padding: rem(40);
    box-shadow: dimgray 0 rem(5) rem(8);
    margin: rem(25) auto;

    @include mq('tablet', 'max') {
        flex-wrap: wrap;
    }
}

.side {
    margin: rem(5);
    min-width: 40%;
    text-align: center;

    @include mq('tablet', 'max') {
        min-width: 85%;
    }
}

.image {
    width: 50%;
    margin: rem(15);
    box-shadow: #4b4b4b 0 rem(5) rem(8);
}

.category {
    text-align: left;
    padding-top: rem(10);
    font-weight: 500;
}

.bookName {
    text-align: left;
    color: $black-75;
    font-size: 1.8rem;
    font-weight: bold;
    padding: rem(15) 0;
}

.authors {
    text-align: left;
    padding-bottom: rem(15);
    color: gray;
}

.description {
    color: black;
    min-height: 10rem;
    line-height: 1.7rem;
    text-align: justify;
    padding: 1rem;
    background-color: rgba($black-25, .05);
    border-radius: 1rem;
}

.buttonsPanel {
    display: flex;
    justify-content: space-around;
    margin: rem(15) auto;
    width: rem(200);
    font-weight: bold;
}
