
.wrapper {
  width: 100%;
  padding: .4rem;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);

  background-image: linear-gradient(45deg, silver 47%, GoldenRod 50%, silver 53%);
  background-size: 250% 250%;
  animation: bgPositionKey 4s ease infinite;
}

@keyframes bgPositionKey {
  0% {
    background-position: 100% 100%;
  }
}
