
.wrapper {
  width: 100%;
  height: 1.5rem;
  padding: .25rem;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);

  background-image: linear-gradient(45deg, gray 47%, GoldenRod 50%, gray 53%);

  //background-position: 10% 100%;
  background-size: 250% 250%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
