@import "src/styles/variables";
@import "src/styles/mixins";

$input-book-name--font : $Quicksand;

.input-book-name {
  font-family: $input-book-name--font;
  font-size: rem(15);
  text-align: center;
  position: relative;
  background-color: whitesmoke;
  border-radius: rem(4);

  &--search:after, &__clear-search:before {
    @include addMaterialAfter('');
  }

  &__clear-search {
    position: absolute;
    background-color: inherit;
    @include size(rem(20));
    left: rem(10);
    top: rem(15);
    transition-property: transform;
    transform: rotate(0);
    transition-duration: .25s;


    &:before {
      top: 0;
      right: 0;
      content: 'close';
    }

    &:hover {
      transform: rotate(360deg);
    }
  }

  &--search:after {
    cursor: unset;
    opacity: .5;
    content: 'search';
  }

  &__input {
    font-family: $input-book-name--font; //переназначаем шрифт, потому что input находится в label и наследует
    outline: none; //чтобы input не подсвечивался
    box-sizing: border-box;
    background: inherit;
    font-size: rem(15);
    line-height: rem(20);
    border: solid {
      color: $black-50;
      radius: rem(4);
      width: 2px;
    }
    padding: rem(13) rem(35) rem(15);
    width: 100%;

    transition-property: border;
    transition-duration: .3s;

    &:focus, &:hover {
      border: solid $black-75 2px;
    }

     &:valid { //поставил, потому что менялся цвет в настройках браузера при разфокусировке
      color: black;
    }

    &:invalid {
      color: darkred;
    }

    &:active {
    }

    @include placeholder() {
      font-family: $input-book-name--font;

      //обработка манипуляций с :placeholder
      position: absolute;
      top: rem(14);
      transition-property: all;
      transition-duration: .3s;
    }

    &:focus {
      @include placeholder() { //при фокусе, сообщение placeholder уходит вверх
        top:0;
        font-size: rem(12);
      }
    }

  }
}
