@import "src/styles/variables";
@import "src/styles/mixins";

.wrapper {
  @include flex-center();
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.bottomWrapper {
  @include flex-center(column);
  width: 100%;
  padding-bottom: rem(15);
}
